/* Estilos generales del contenedor */
.video-list-container {
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-top: 5px solid #333;
  max-width: 1200px;
}

/* Título del componente */
.video-list-container h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para las tarjetas de video */
.video-card {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.video-card:hover {
  transform: translateY(-5px);
}

/* Información del video */
.video-info {
  margin-bottom: 10px;
}

.video-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #444;
}

.video-description {
  font-size: 1rem;
  color: #666;
}

/* Estilos para el reproductor de video */
.video-player {
  border-radius: 10px;
  border: 2px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para las flechas del carrusel */
.slick-prev:before,
.slick-next:before {
  color: #333;
  font-size: 1.5rem;
}

/* Responsividad */
@media (max-width: 1024px) {
  .video-title {
    font-size: 1.1rem;
  }

  .video-description {
    font-size: 0.9rem;
  }

  .video-card {
    padding: 8px;
  }
}

@media (max-width: 600px) {
  .video-title {
    font-size: 1rem;
  }

  .video-description {
    font-size: 0.8rem;
  }

  .video-card {
    padding: 6px;
  }
}
